#
# Copyright (c) Andras Csizmadia <andras@vpmedia.hu> (www.vpmedia.hu)
# author: Andras Csizmadia <andras@vpmedia.hu>
# version: 1.0.0
# see: https://git-scm.com/docs/gitignore
#

# folders
/node_modules

# files
.DS_Store

# generated assets
/public/asset/**/audiosprite/
/public/asset/**/spritesheet/
/public/asset/**/*.avif
/public/asset/**/*.webp
/public/asset/**/*.mp3
/public/asset/**/*.ogg
/public/asset/**/*.json
